*{
    margin: 0%;
    padding: 0%;    
}
.welcome{
    text-decoration: underline;
}
body{
    background-image: url("/URBAN GROCERY/Public/Images/back.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;    
    transition: 0.5s;      
}
.navbar ul li a {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 1.1em;
}
.navbar ul li :hover{
    color: 	#ffc200;
    text-decoration: underline;
    transition: 0.5sec;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
}
.content .up {
    font-size: 2.5em;
    color: antiquewhite;
}
.content p{
    font-size: 3.5em;
    font-weight: bold;
    color: antiquewhite;
}
.content .desc{
    font: size 1em;;
    font-weight: bold;
    line-height: 20px;
    color: antiquewhite;
}
button{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 40px;
    font-weight: bold;
    border: 2px solid black;
    bottom: 35%;
    cursor:pointer;
    background: transparent;
    color: antiquewhite;   
    position: relative; 
    overflow: hidden;
}
button:hover{
    color: black;
    border: none;
}
span{
    height:100% ;
    width: 0%;
    background-color:	#ffc200;
    border-radius: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.4s;
}
button:hover span{
    width: 100%;
    color: black;
}
